body {
    margin: 0;
    padding: 0;
}

#lens {
    width: 20px;
    height: 20px;
}

#microphone {
    width: 20px;
    height: 20px;
}

#logo {
    text-align: center;
}

.center {
    text-align: center;
    
}